{% extends "home/home.html" %}
{% block content %}

<div class="content-wrapper">
    <!--内容-->
    <section class="content-header">
            <h1>牛大爷养殖管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 买卖记录</a></li>
                <li class="active">添加购买记录</li>
            </ol>
        </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">添加购买记录</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <form method="post" enctype="multipart/form-data">
                                <!-- 闪现消息提醒-->
                                <div>
                                    {% for msg in get_flashed_messages() %}
                                    <p style="color:red;font-size:14px; text-align:center ">{{msg}}</p>
                                    {% endfor %}
                                </div>
                                <!--购买记录-->
                                <tr>
                                    <td style="width: 8%" class="td_bd">肉牛ID：</td>
                                    <td>
                                        {{ form.cattleid}}<a style="color: red"> *(必填) </a>
                                        {% for err in form.cattleid.errors %}
                                        <span>
                                            <font style="color:red ">{{err}}</font>
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">肉牛昵称：</td>
                                    <td>{{ form.cattlename}}
                                        {% for err in form.cattlename.errors %}
                                        <span>
                                            <font style="color:red ">{{err}}</font>
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">购买时间：</td>
                                    <td>
                                        {{ form.buyday}}<a style="color: red"> *(必填) </a>
                                        {% for err in form.buyday.errors %}
                                        <span>
                                            <font style="color:red ">{{err}}</font>
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="td_bd">购买总价：</td>
                                    <td>
                                        {{ form.buyprice}}
                                    {% for err in form.buyprice.errors %}
                                    <span>
                                        <font style="color:red ">{{err}}</font>
                                    </span>
                                    {% endfor %}
                                    <span style="color: black"> 元 <a style="color: red"> *(必填) </a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">购买体重：</td>
                                    <td>{{ form.buyweight}}<span style="color: black"> Kg</span></td>
                                </tr>
                                 <tr>
                                    <td class="td_bd">购买运费：</td>
                                    <td>{{ form.buyfreight}}<span style="color: black"> 元</span></td>
                                </tr>
                                <tr>
                                    <td class="td_bd">购买地点：</td>
                                    <td> {{ form.buycity}} </td>
                                </tr>
                                 <tr>
                                    <td class="td_bd">购买批次号：</td>
                                    <td> {{ form.buynum}}</td>
                                </tr>
                                 <tr>
                                    <td class="td_bd">购买联系人：</td>
                                    <td> {{ form.buycontatcs}}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">联系手机号：</td>
                                    <td>
                                        {{ form.buyphone}}
                                        {% for err in form.buyphone.errors %}
                                    <span>
                                        <font style="color:red ">{{err}}</font>
                                    </span>
                                    {% endfor %}

                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">备注：</td>
                                    <td> {{ form.remarks}}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">肉牛图片：</td>
                                    <td> {{ form.buycattlefild}}
                                    {% for err in form.buycattlefild.errors %}
                                    <span>
                                        <font style="color:red ">{{err}}</font>
                                    </span>
                                    {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">
                                        {{ form.submit }}
                                        {{form.csrf_token}}
                                    </td>
                                </tr>
                    </form>
                            </tbody>
                        </table>
                    </div>
                </div>
         </div>
        </div>
    </section>
</div>
{% endblock  %}
{% block js %}
<!--日期选择框-->
<script>
    $(document).ready(function () {
        $('#input_release_time').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
        });
    });
</script>
{% endblock %}

