<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>牛大爷养殖数据管理系统</title>
    <link rel="stylesheet" href="{{url_for('static',filename='login/css/style.css')}}"/>
</head>
<body class="login_bg">
    <section class="loginBox">
        <header class="loginHeader">
            <h1>牛大爷养殖数据管理系统</h1>
        </header>
        <section class="loginCont">


            <form class="loginForm" method="post">
                 <div>
                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                <p class="login-box-body" style="color: #00e765">{{ msg }}</p>
                {% endfor %}

                {% for msg in get_flashed_messages(category_filter=["err"]) %}
                 <p class="login-box-body" style="color: #ff0a2a">{{ msg }}</p>
                {% endfor %}

                </div>

                <div class="inputbox">
                    <label for="user">用户名：</label>
                    {{form.user}}
                    {% for err in form.user.errors %}
                    <div>
                        <font style="color:red ">{{err}}</font>
                    </div>
                    {% endfor %}
                </div>
                <div class="inputbox">
                    <label for="mima">密码：</label>
                    {{form.mima}}
                    {% for err in form.mima.errors %}
                         <div>
                             <font style="color:red ">{{err}}</font>
                        </div>
                    {% endfor %}
                </div>
                <div class="subBtn">
                    {{form.submit}}
                    <input type="reset" value="重置"/>
                    {{form.csrf_token}}
                </div>

                <div  float="right" right="85">
                    <a style="color:#22a6d2;font-size:14px; float:right " href="{{url_for('home.register')}}">没有账号</a>
                </div>


            </form>
        </section>
    </section>

</body>
</html>