{% extends "admin/home.html" %}
{% import "ui/home_page.html" as pg %}
{% block content %}
 <div class="content-wrapper">
        <!--内容-->
        <section class="content-header">
            <h1>牛大爷养殖管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 买卖管理</a></li>
                <li class="active">买卖记录列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">买卖记录列表</h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="请输入关键字...">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                                <div class="alert alert-success alert-dismissable">
                                    <button type="reset" class="close" data-dismiss="alert"></button>
                                    <h4><i class="icon fa fa-check"></i> 操作成功</h4>
                                    {{ msg }}
                                </div>
                            {% endfor %}

                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>序号</th>
                                    <th>所属用户</th>
                                    <th>肉牛ID</th>
                                    <th>昵称</th>
                                    <th>买/卖总价<a style="font-size:14px"  >（元）</a></th>
                                    <th>买/卖体重<a style="font-size:14px"  >（斤）</a></th>
                                    <th>买/卖单价<a style="font-size:14px"  >（斤/元）</a></th>
                                    <th>买/卖日期</th>
                                    <th>买/卖批次</th>
                                    <th>买/卖人</th>
                                    <th>买/卖地点</th>
                                    <th>操作</th>
                                </tr>
                                {% for x in range(page_data.items|count) %}
                                <tr>
                                    <td>{{20*(page_data.page -1)+x+1}}</td>
                                    <td>{{page_data.items[x].account}}</td>
                                    <td>{{page_data.items[x].cattleid}}</td>
                                    <td>{{page_data.items[x].cattlename}}</td>
                                    <td>
                                        {% if page_data.items[x].buyprice == None and page_data.items[x].sellprice == None  %}
                                        {% elif page_data.items[x].buyprice == None  %}
                                          &nbsp;&nbsp;&nbsp;&nbsp; / {{page_data.items[x].sellprice}}
                                        {% elif page_data.items[x].sellprice ==None  %}
                                            {{page_data.items[x].buyprice}} / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% elif page_data.items[x].buyprice > page_data.items[x].sellprice  %}
                                            {{page_data.items[x].buyprice}} / {{page_data.items[x].sellprice}} <a style="font-size: 14px; color: #ff0a2a;" >↓</a>
                                        {% elif page_data.items[x].buyprice < page_data.items[x].sellprice  %}
                                            {{page_data.items[x].buyprice}} / {{page_data.items[x].sellprice}} <a style="font-size: 14px; color: #0811ff;" >↑</a>
                                        {% elif page_data.items[x].buyprice == page_data.items[x].sellprice  %}
                                            {{page_data.items[x].buyprice}} / {{page_data.items[x].sellprice}} <a style="font-size: 14px; color: #ff0aaa;" >=</a>
                                        {% endif%}

                                    </td>
                                    <td>
                                        {% if page_data.items[x].buyweight == None and page_data.items[x].sellweight == None  %}
                                        {% elif page_data.items[x].buyweight == None  %}
                                           &nbsp;&nbsp;&nbsp;&nbsp; / {{page_data.items[x].sellweight}}
                                        {% elif page_data.items[x].sellweight ==None  %}
                                            {{page_data.items[x].buyweight}} / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% elif page_data.items[x].buyweight > page_data.items[x].sellweight  %}
                                            {{page_data.items[x].buyweight}} / {{page_data.items[x].sellweight}} <a style="font-size: 14px; color: #ff0a2a;" >↓</a>
                                        {% elif page_data.items[x].buyweight < page_data.items[x].sellweight  %}
                                            {{page_data.items[x].buyweight}} / {{page_data.items[x].sellweight}} <a style="font-size: 14px; color: #0811ff;" >↑</a>
                                        {% elif page_data.items[x].buyweight == page_data.items[x].sellweight  %}
                                            {{page_data.items[x].buyweight}} / {{page_data.items[x].sellweight}} <a style="font-size: 14px; color: #ff0aaa;" >=</a>
                                        {% endif%}
                                    </td>
                                    <td>
                                        {% if page_data.items[x].buyunitprice == None and page_data.items[x].sellunitprice == None  %}
                                        {% elif page_data.items[x].buyunitprice == None  %}
                                           &nbsp;&nbsp;&nbsp;&nbsp; / {{page_data.items[x].sellunitprice}}
                                        {% elif page_data.items[x].sellunitprice ==None  %}
                                            {{page_data.items[x].buyunitprice}} / &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% elif page_data.items[x].buyunitprice > page_data.items[x].sellunitprice  %}
                                            {{page_data.items[x].buyunitprice}} / {{page_data.items[x].sellunitprice}} <a style="font-size: 14px; color: #ff0a2a;" >↓</a>
                                        {% elif page_data.items[x].buyunitprice < page_data.items[x].sellunitprice  %}
                                            {{page_data.items[x].buyunitprice}} / {{page_data.items[x].sellunitprice}} <a style="font-size: 14px; color: #0811ff;" >↑</a>
                                        {% elif page_data.items[x].buyunitprice == page_data.items[x].sellunitprice  %}
                                            {{page_data.items[x].buyunitprice}} / {{page_data.items[x].sellunitprice}} <a style="font-size: 14px; color: #ff0aaa;" >=</a>
                                        {% endif%}
                                    </td>
                                    <td>{% if page_data.items[x].buyday == None and page_data.items[x].sellday == None  %}
                                        {% elif page_data.items[x].buyday == None  %}
                                           &nbsp;&nbsp;&nbsp;&nbsp; / {{page_data.items[x].sellday}}
                                        {% elif page_data.items[x].sellday ==None  %}
                                            {{page_data.items[x].buyday}} /   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% elif page_data.items[x].buyday != None and page_data.items[x].sellday != None   %}
                                            {{page_data.items[x].buyday}}&nbsp; / &nbsp;{{page_data.items[x].sellday}}
                                        {% endif%}
                                    </td>
                                    <td>
                                        {% if page_data.items[x].buynum == None and page_data.items[x].sellnum == None  %}
                                        {% elif page_data.items[x].buynum == None  %}
                                           &nbsp;&nbsp;&nbsp;&nbsp; / {{page_data.items[x].sellnum}}
                                        {% elif page_data.items[x].sellnum ==None  %}
                                            {{page_data.items[x].buynum}} /   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% elif page_data.items[x].buynum != None and page_data.items[x].sellnum != None   %}
                                            {{page_data.items[x].buynum}}&nbsp; / &nbsp;{{page_data.items[x].sellnum}}
                                        {% endif%}
                                       </td>
                                    <td>
                                        {% if page_data.items[x].buycontatcs == None and page_data.items[x].sellcontacts == None  %}
                                        {% elif page_data.items[x].buycontatcs == None  %}
                                           &nbsp;&nbsp;&nbsp;&nbsp; / {{page_data.items[x].sellcontacts}}
                                        {% elif page_data.items[x].sellcontacts ==None  %}
                                            {{page_data.items[x].buycontatcs}} /   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% elif page_data.items[x].buycontatcs != None and page_data.items[x].sellcontacts != None   %}
                                            {{page_data.items[x].buycontatcs}}&nbsp; / &nbsp;{{page_data.items[x].sellcontacts}}
                                        {% endif%}
                                    </td>
                                    <td>
                                        {% if page_data.items[x].buycity == None and page_data.items[x].sellcity == None  %}
                                        {% elif page_data.items[x].buycity == None  %}
                                           &nbsp;&nbsp;&nbsp;&nbsp; / {{page_data.items[x].sellcity}}
                                        {% elif page_data.items[x].sellcity ==None  %}
                                            {{page_data.items[x].buycity}} /   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {% elif page_data.items[x].buycity != None and page_data.items[x].sellcity != None   %}
                                            {{page_data.items[x].buycity}}&nbsp; / &nbsp;{{page_data.items[x].sellcity}}
                                        {% endif%}
                                    </td>
                                    <td>
                                        <a class="label label-success" href="{{url_for('admin.cattle_view',id=page_data.items[x].id)}}">查看</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                {{ pg.page(page_data,'admin.cattle_list') }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--内容-->
    </div>
{% endblock %}