{% macro page(data,url) -%}
{%  if data %}
<ul class="pagination pagination-sm no-margin pull-right">
    <li><a href="{{url_for(url,page=1)}}">首页</a></li>
    <!-- 判断如果数据还有上一页-->
    {% if data.has_prev %}
    <!-- data.prev_num获取上一页的页码-->
    <li><a href="{{url_for(url,page=data.prev_num)}}">上一页</a></li>
    <!-- 判断如果数据没有上一页了 禁用这个按钮不可点击-->
    {% else %}
    <li class="disabled"><a href="#">上一页</a></li>
    {% endif %}

    <!--iter_pages():页码生成器 循环遍历出有多少个页码 -->
    {% for v in data.iter_pages() %}
        <!--如果是当前页 激活页码按钮 -->
        {% if v ==data.page %}
            <li class="active"><a href="#">{{ v }}</a></li>
        {% else %}
            <li><a href="{{url_for(url,page=v)}}">{{ v }}</a></li>
        {% endif%}
    {% endfor %}

    {% if data.has_next %}
    <li><a href="{{url_for(url,page=data.next_num)}}">下一页</a></li>
    {% else %}
    <li class="disabled"><a href="#">下一页</a></li>
    {% endif %}

    <!-- data.page的最后一页-->
    <li><a href="{{url_for(url,page=data.pages)}}">尾页</a></li>
</ul>
{%  endif %}
{%- endmacro %}