{% extends "home/public.html" %}
{% block content %}

<div class="location">
    <strong>你现在所在的位置是:</strong>
    <span>买卖管理 >> 添加出栏记录页面</span>
</div>
<div class="providerAdd">
    <form method="post">
        <!-- 闪现消息提醒-->
            <div >
                {% for msg in get_flashed_messages() %}
                    <p style="color:red;font-size:14px; text-align:center ">{{msg}}</p>
                {% endfor %}
            </div>
        <!--购买记录-->
        <div>
            <label for="nameid">肉牛编号：</label>
            {{ form.nameid}}
            {% for err in form.nameid.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
            {% endfor %}
            <span style="color: black; font-size:12px">唯一识别标识，请设置唯一数字</span>
        </div>
        <div>
            <label for="name">肉牛昵称：</label>
            {{ form.name}}
                {% for err in form.name.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
        </div>
        <div>
            <label for="datas">出售时间：</label>
            {{ form.datas}}
                {% for err in form.datas.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
        </div>
        <div>
            <label for="price">出售总价：</label>
            {{ form.price}}
                {% for err in form.price.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
            <span style="color: black">元</span>
        </div>
        <div>
            <label for="weight">出售体重：</label>
            {{ form.weight}}
                {% for err in form.weight.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
            <span style="color: black">公斤Kg</span>
        </div>
         <div>
            <label for="freight">出售运费：</label>
            {{ form.freight}}
                {% for err in form.freight.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
             <span style="color: black">元</span>
        </div>
         <div>
            <label for="city">出售地点：</label>
            {{ form.city}}
                {% for err in form.city.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
        </div>
        <div class="">
            <label for="num">出售批次号：</label>
            {{ form.num}}
                {% for err in form.num.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
        </div>
         <div>
            <label for="contacts">出售联系人：</label>
           {{ form.contacts}}
                {% for err in form.contacts.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
        </div>
         <div>
            <label for="remarks">备注：</label>
            {{ form.remarks}}
                {% for err in form.remarks.errors %}
                         <span>
                             <font style="color:red ">{{err}}</font>
                        </span>
                {% endfor %}
        </div>



        <div class="providerAddBtn" >
            <!--<a href="#">保存</a>-->
            <!--<a href="billList.html">返回</a>-->
            {{ form.submit }}
            {{form.csrf_token}}
            <a href="{{url_for('home.billList')}}">返回</a>
        </div>
    </form>
    </div>
{% endblock %}